.recipeContainer .recipeArea {
    margin: 20px 0;
    padding: 50px 0;
    background: #f9f4f1;
    border-radius: 5px;
}

.recipeContainer .form-control {
    border: none;
    outline: none;
    box-shadow: none !important;
}

.recipeContainer .form-control:read-only {
    background: white;
}

.recipeContainer h2, .recipeContainer h3, .recipeContainer h4 {
    font-family: 'Raleway', sans-serif;
}

.recipeContainer .recipeChunk {
    padding: 15px 0;
}

.recipeContainer > .row > div[class^="col-"] {
    padding: 0;
}

.recipeContainer .input-group-text {
    border: none;
    background: #ffd0d0;
}

.manageItems {
    display: flex;
    justify-content: space-between;
    user-select: none;
}

.manageItems .addItem {
    color: green;
    cursor: pointer;
}

.manageItems .addItem:hover {
    opacity: .8;
    transition: all .3s;
}

.manageItems .removeItem {
    color: darkred;
    cursor: pointer;
}

.recipeButton {
    padding: 1.25rem;
    text-align: center;
    background: #cfffda;
    cursor: pointer;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,.125);
}

.manageItems .removeItem:hover, .recipeButton:hover {
    opacity: .8;
    transition: all .3s;
}

.recipeChunk .list-group-item.list-item {
    display: flex;
    align-items: baseline;
}

.recipeArea .recipeCRU {
    padding: 20px 0;
    text-align: center;
}

.authorContainer {
    color: #bfabab;
    text-align: center;
}

.authorContainer .creationDate {
    font-style: italic;
}

.authorContainer .author {
    display: inline-block;
}

.authorContainer .author::first-letter {
    text-transform: uppercase;
}
